.course_category_tree .coursebox {
    border: 1px solid #dee2e6;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

#frontpage-available-course-list .coursename > a{
    font-size: 1.7rem;
}